

.clearout {
height:20px;
clear:both;
}

#flexiselDemo1 {
display:none;
}

.nbs-flexisel-container {
    position:relative;
    max-width:100%;
}
.nbs-flexisel-ul {
    position:relative;
    width:99999px;
    margin:0px;
    padding:0px;
    list-style-type:none;   
    text-align:center;  
}

.nbs-flexisel-inner {
     height: 420px;
    overflow:hidden;
    float:left;
    width:100%;
  
    -moz-border-radius:5px;
    -webkit-border-radius:5px;  
}

.nbs-flexisel-item {
    -float:left;
    margin:0px;
    padding:0px;
    cursor:pointer;
    position:relative;
    -line-height:0px;
}
/*.nbs-flexisel-item img {
    width: 100%;
    cursor: pointer;
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
    
}*/

/*** Navigation ***/

.nbs-flexisel-nav-left,
.nbs-flexisel-nav-right {
    width: 38px;
    height: 70px; 
    position: absolute;
    cursor: pointer;
    z-index: 100;
    opacity: 0.5;
}

.nbs-flexisel-nav-left {
    left:-38px;
    background:url(../../img/button-previous.png) no-repeat;
}

.nbs-flexisel-nav-right {
    right:-41px;
    background:url(../../img/button-next.png) no-repeat;
}
