#mask {
  position:absolute;
  left:0;
  top:0;
  z-index:9000;
  background-color:#222;
  display:none;
}  
#boxes .window {
  position:fixed;
  left:0;
  top:0;
  width:440px;
  height:200px;
  display:none;
  z-index:9999;
  padding:20px;
  border-radius: 5px;
  text-align: center;
}
#boxes #dialogas {
  width:450px; 
  height:auto;
  padding:10px;
  background-color:#ffffff;
  font-family: 'Segoe UI Light', sans-serif;
  font-size: 15pt;
}
.maintext{
	text-align: center;
  font-family: "Segoe UI", sans-serif;
  text-decoration: none;
}

#lorem{
	font-family: "Segoe UI", sans-serif;
	font-size: 12pt;
  text-align: left;
}
#popupfoot{
	font-family: "Segoe UI", sans-serif;
	font-size: 12pt;
  padding: 6px 20px;
}
#popupfoot a{
	text-decoration: none;
}
.agree:hover{
  background-color: #D1D1D1;
}
.popupoption:hover{
	background-color:#993300;
	color: green;
}
.popupoption2:hover{
	
	color: red;
}
.to-border
{
    background: #001824;
    padding: 8px 1px 8px 26px;
    margin-top: -10px;
    width: 450px;
    margin-left: -10px;
	color: aliceblue;
}
